/* START TOP HEADER */
#TopHeader
{
    background-color:#6c5ce7;
    border-bottom: 1px solid silver;
    padding: 10px;
}
#TopHeader a{
    color: white;
    font-weight: 600;
    font-size: 0.89rem;
}
#TopHeader a:hover{
    color: #fbc531;
    font-weight: 700;
    font-size: 0.89rem;
}
/*Navbar*/
.NavBar ul li a{
    font-weight: 600;
    font-size: 0.89rem;
}
.NavBar ul li a:hover{
    font-weight: 700;
    font-size: 0.89rem;
    color:#6c5ce7;
}
/* END TOP HEADER */

/* START FOOTEER*/
.top-footer{
    background-color: #6c5ce7;
    color: white;
    border-bottom: 1px solid silver;
    border-top: 1px solid white;
    width: 100%;
}
.top-footer a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.89rem;
}
.top-footer a{
    list-style-type: none;
}
.top-footer a:hover{
    color:#fbc531;
    font-weight: 600;
    font-size: 0.89rem;
}
.top-footer h3{
	font-size: 22px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
	letter-spacing: 1px;
}
.social-links{
    background-color: #c8d6e5;
    padding: 10px;
}
.bottom-footer{
    background-color: #273c75;
    color: white;
    font-weight: 600;
}
/* END FOOTER*/

/* START BODY*/
.Boddie{
    background-image: url('../img/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact1{
    color: white;
    font-weight: 600;
    font-size: 0.89rem;
}
#sectionbody p a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.89rem;
}
#sectionbody p a:hover{
    color: #2e86de;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.89rem;
}
#sectionbody .form-control{
    border: 2px solid #2e86de;
    border-radius: 25px;
    font-weight: 600;
    font-size: 0.89rem;
}

#sectionbody .btn-primary{
    border-radius: 25px;
    font-weight: 600;
    font-size: 0.89rem;
}

/* END BODY*/
