.head3{
    font-size: 22px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
	letter-spacing: 1px;
}
.line{
    color: #2e86de;
}
.head5{
    font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
    color: #2e86de;
    text-decoration: underline;
}
